<ng-container *ngIf="pagination">
	<button
		(click)="previousPage()"
		class="previousPage"
		[disabled]="pagination.isPreviousButtonDisabled"
	>
		<span class="icon-arrow-left"></span>
	</button>

	<app-pagination-item
		*ngFor="let paginationItem of pagination.paginationItems"
		[paginationItem]="paginationItem"
		(onPageSelect)="selectPage($event)"
	></app-pagination-item>

	<button
		(click)="nextPage()"
		class="nextPage"
		[disabled]="pagination.isNextButtonDisabled"
	>
		<span class="icon-arrow-right"></span>
	</button>
</ng-container>
