<button
	(click)="previous()"
	class="previous"
	[disabled]="disablePrevButton | async"
>
	<span>&#10142;</span>
</button>

<span
	*ngFor="let paginationItem of paginationItemArray$ | async"
	[ngClass]="paginationItem?.type"
>
	<button
		(click)="selectPage(paginationItem.pageNumber)"
		*ngIf="paginationItem !== null"
		[ngClass]="{
			'current-page': this.currentPage === paginationItem.pageNumber
		}"
	>
		<span>{{ paginationItem.symbol }}</span>
	</button>
</span>

<button (click)="next()" class="next" [disabled]="disableNextButton | async">
	<span>&#10142;</span>
</button>
