:host {
	border: solid 1px #dadada;
	transition: transform .4s;
	background: #f5f5f5;
	border-radius: 16px;
	display: flex;
	flex-direction: column;
	row-gap: 16px;
	padding: 16px;
	justify-self: end;
	margin-top: -1px;
}
