:host {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 16px;
	padding: 8px;
}

@media (min-width: 480px) {
	:host {
		grid-template-columns: 1fr 1fr 1fr;
	}
}

@media (min-width: 769px) {
	:host {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
}

@media (min-width: 1025px) {
	:host {
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	}
}

@media (min-width: 1201px) {
	:host {
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	}
}
