<section class="search">
	<header>
		<img [src]="shopLogo" />

		<app-search-field
			(doSearch)="doSearch($event)"
			[placeholderText]="'Search the site of ' + shopName"
		></app-search-field>

		<!-- <app-pagination-display
			*ngIf="searchResultPage$ | async as resultPage"
			[pagination]="paginationDisplay$ | async"
			[currentPageNumber]="resultPage.number"
			(onPageSelect)="pageSelect($event)"
		>
		</app-pagination-display> -->
	</header>

	<app-search-result-page
		[page]="searchResultPage$ | async"
		[isLoading]="(isLoading$ | async) || false"
	>
	</app-search-result-page>
</section>

<button (click)="addSearchToObservation()" class="add-search-to-observations">
	&#x2b;
</button>
<!--
<app-overlay (onClick)="dismiss()">
	<app-observed-queries
		[observedSearches]="observedSearch$ | async"
		(deleteSearch)="deleteSearch($event)"
	></app-observed-queries>
</app-overlay> -->

<app-observed-queries
	[observedSearches]="observedSearch$ | async"
	(deleteSearch)="deleteSearch($event)"
></app-observed-queries>
