<header>
	<app-page-logo></app-page-logo>
</header>

<section class="search">
	<header>
		<img [src]="shopLogo" />

		<app-search-field
			(doSearch)="doSearch($event)"
			[queryString]="searchString$ | async"
			[placeholderText]="'Search the site of ' + shopName"
		></app-search-field>

		<app-pagination
			class="medium"
			*ngIf="searchResultPage$ | async as resultPage"
			[pagination]="paginationMedium$ | async"
			[currentPageNumber]="resultPage.number"
			(onPageSelect)="selectPage($event)"
		>
		</app-pagination>

		<app-pagination
			class="small"
			*ngIf="searchResultPage$ | async as resultPage"
			[pagination]="paginationSmall$ | async"
			[currentPageNumber]="resultPage.number"
			(onPageSelect)="selectPage($event)"
		>
		</app-pagination>

		<app-pagination
			class="mini"
			*ngIf="searchResultPage$ | async as resultPage"
			[pagination]="paginationMini$ | async"
			[currentPageNumber]="resultPage.number"
			(onPageSelect)="selectPage($event)"
		>
		</app-pagination>
	</header>

	<app-search-result-page
		[page]="searchResultPage$ | async"
		[isLoading]="!!(isLoading$ | async)"
	>
	</app-search-result-page>

	<app-empty-state-search
		*ngIf="!(isLoading$ | async) && !(searchResultPage$ | async)"
	></app-empty-state-search>
</section>

<button
	(click)="addSearchToObservation()"
	class="add-search-to-observations btn btn-primary btn-round btn-floating"
>
	<span class="icon-plus"></span>
</button>

<!--
<app-overlay (onClick)="dismiss()">
	<app-observed-queries
		[observedSearches]="observedSearch$ | async"
		(deleteSearch)="deleteSearch($event)"
	></app-observed-queries>
</app-overlay> -->

<aside>
	<header>
		<h3>Observed search queries</h3>
	</header>
	<app-observed-queries
		[observedSearches]="observedSearch$ | async"
		(deleteSearch)="deleteSearch($event)"
		(executeSearch)="doSearch($event.searchString)"
	></app-observed-queries>
</aside>
