<!-- <button (click)="signOut()">sign out</button> -->
<header>
	<div class="logo">
		<span class="page-icon"></span>
		<h1>Shop Observer</h1>
	</div>

	<button
		class="show-observations"
		(click)="showObservations()"
		class="btn btn-round"
	>
		<span class="icon-open-sidebar-right"></span>
	</button>
</header>

<section class="search">
	<header>
		<img src="https://www.klaravik.dk/klaravik-web-icon-80x80.png" />

		<app-search-field
			(doSearch)="search($event)"
			[placeholderText]="'Search'"
		></app-search-field>

		<app-pagination
			class="medium"
			*ngIf="searchResultPage$ | async as resultPage"
			[pagination]="paginationMedium$ | async"
			[currentPageNumber]="resultPage.number"
			(onPageSelect)="pageSelect($event)"
		>
		</app-pagination>

		<app-pagination
			class="small"
			*ngIf="searchResultPage$ | async as resultPage"
			[pagination]="paginationSmall$ | async"
			[currentPageNumber]="resultPage.number"
			(onPageSelect)="pageSelect($event)"
		>
		</app-pagination>

		<app-pagination
			class="mini"
			*ngIf="searchResultPage$ | async as resultPage"
			[pagination]="paginationMini$ | async"
			[currentPageNumber]="resultPage.number"
			(onPageSelect)="pageSelect($event)"
		>
		</app-pagination>
	</header>

	<app-search-result-page
		*ngIf="searchResultPage$ | async as resultPage"
		[page]="resultPage"
	>
	</app-search-result-page>
</section>

<aside [class]="{ 'observed-searches': true, show: showObservationsPanel }">
	<header>
		<button (click)="showObservations()" class="close btn btn-round">
			<span class="icon-x"></span>
		</button>
	</header>

	<app-search-query
		*ngFor="let search of observedSearches$ | async"
		[search]="search"
		(deleteSearch)="deleteSearch($event)"
	>
	</app-search-query>
</aside>

<button
	(click)="addSearchToObservation()"
	class="add-search-to-observations btn btn-primary btn-round btn-floating"
>
	<span class="icon-plus"></span>
</button>
