<!-- <button (click)="signOut()">sign out</button> -->

<header>
	<div class="logo">
		<span class="icon"></span>
		<h1>Shop Observer</h1>
	</div>
</header>

<br />

<app-search-field (doSearch)="search($event)"></app-search-field>

<br />

<ng-container *ngIf="searchResultPage$ | async as resultPage">
	<app-pagination
		[currentPage]="resultPage.number"
		[totalPages]="resultPage.totalPages"
		(onPageSelect)="pageSelect($event)"
	></app-pagination>
	<app-search-result-page [page]="resultPage"> </app-search-result-page>
</ng-container>

<app-search-query
	*ngFor="let search of observedSearches$ | async"
	[search]="search"
	(deleteSearch)="deleteSearch($event)"
>
</app-search-query>

<button (click)="addSearchToObservation()" class="add-search-to-observation">
	&#x2b;
</button>
